<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="" method="post">
        <div class="form-group">
            <h4>살고있는 주택의 소재 지역을 선택하세요</h4>
            <button class="city" id="seoul">서울</button>
            <button class="city" id="incheon">경기, 인천</button>
            <button class="city" id="metropolitan">광역시, 세종</button>
            <button class="city" id="add">그 외</button>
        </div>
        <div class="form-group">
            <h4>임차계약 방식과 임차료를 입력하세요.</h4>
            민간임대
            <button class="contract" id="one">전세</button>
            <button class="contract" id="two"">월세</button>
            <button class="contract" id="three">보증부월세</button>
            <button class="contract" id="four">임차료없음</button>
            <br>
            <br>
            공공임대
            <button class="contract" id="five">건설임대</button>
            <button class="contract" id="six">전세임대</button>
        </div>
    </form>
</body>
</html>
